.constant-label{
    -fx-font-family: Arial, sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-color: #333;
    -fx-text-align: center; 
}

.text-field-style {
    /* Genel stiller */
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;

    /* Yazı tipi stili */
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-text-color: #000000;
}

.text-field-style:focused {
  -fx-background-color: #fafafa;
  -fx-border-color: #000000;
}

.combo-box {
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-font-family: "Segoe UI";
  -fx-font-size: 16px;
}

.combo-box:hover {
  -fx-border-color: #aaaaaa;
}

.combo-box:focused {
  -fx-border-color: #000000;
}

.table-view .table-cell {
    -fx-alignment: BASELINE_CENTER; /* Hücreleri dikey olarak ortala */
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.button {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 21px;
}